<ng-container [ngSwitch]="tipo">
    <ng-container *ngSwitchCase="'Notebook'">
        @for(n of data.Notebook; track n.id){
            <button (click)="onReservarNote(n)">{{getNomeNotebook(n.descricao)}}</button>
        }
    </ng-container>

    <ng-container *ngSwitchCase="'Sala'">
        @for (s of data.Sala; track s.id) {
            <button (click)="onReservarSala(s)">Sala {{s.numero}}, lugares {{s.numLugares}}, projetor: @if(s.projetor){Sim}@else{Não}</button>
        }
    </ng-container>

    <ng-container *ngSwitchCase="'Laboratorio'">
        @for (l of data.Laboratorio; track l.id) {
            <button (click)="onReservarLab(l)">{{l.nome}}, computadores: {{l.numComputadores}}</button>
        }
    </ng-container>
</ng-container>

<app-modal-confirm-reserva
  [isOpen]="isModalOpen"
  [recurso]="selectedRecurso"
  [tipo]="tipo"
  (confirm)="onConfirmReserva()"
  (cancel)="onCancelReserva()">
</app-modal-confirm-reserva>