:root {
    --background-color: #CCD3D9;
    --background-color-2: #99B2B750;
    --background-color-3: #8195A640;
    --header-background-color: #8195A6;
    --font-color-1: #012340;
    --font-color-2: #dbdbdb;
    --border-color-1: #99B2B7;
    --border-color-2: #A68A58;
}

body {
    background-color: var(--background-color);
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--header-background-color);

    img {
        max-width: 4rem;
        height: auto;
        margin-left: 1rem;
    }

    a {
        color: var(--font-color-2);
        text-decoration: none;
        margin-right: 2rem;
        font-size: 1.3rem;
        transition: all 0.3s ease;
    }

}

header .header-links {
    display: flex;
    font-size: 1.3rem;
    gap: 3rem;

    a {
        color: var(--font-color-2);
        text-decoration: none;
        transition: all 0.3s ease;
    }
}

header .header-links a:hover, header a:hover {
    transform: scale(1.2);
    text-shadow: 0 0 4px #00000080;
}

.home-options {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.calendar-container {
    background-color: var(--background-color-2);
    padding: 1.5rem;
    border-radius: 20px;
}

.option-button {
    background-color: var(--background-color-3);
    border: none;
    padding: 3rem;
    border-radius: 15px;
    max-width: 16rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Albert Sans', sans-serif;
    color: var(--font-color-1);

        img {
            width: 90px;
            height: 90px;
        }
}

.option-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00000040;
}
